:root {
  --main-color: #212121;
  --additional-color: #757575;
  --focus-color: #2196f3;
  --bc-color: #fff;
  --icon-color: #afb1b8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-size: 14px;
  background-color: var(--bc-color);
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}

.display__none {
  display: none;
}
.display__block {
  display: block;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
p {
  margin-top: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* modal */
.modal {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation);
}
.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal.is-hidden .modal__box {
  transform: scale(0.3);
}
.modal__box {
  position: relative;
  width: 528px;
  /* height: 581px; */
  background-color: var(--bc-color);
  border-radius: 4px;
  transform: scale(1);
  transition: transform var(--animation);
  padding: 40px;
}
.modal__btn {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--bc-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 8px;
  top: 8px;
}
.module__btn--icon {
  width: 18px;
  height: 18px;
  fill: var(--main-color);
  transition: fill var(--animation);
}
.modal__btn:hover .module__btn--icon {
  fill: var(--focus-color);
}

.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}
.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form__label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--additional-color);
  margin-bottom: 4px;
}
.form__input {
  outline: none;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 40px;
  transition: border-color var(--animation);
}
.form__input--icon {
  z-index: 2;
  position: absolute;
  height: 18px;
  width: 18px;
  top: 28px;
  left: 12px;
  transition: fill var(--animation);
}
.form__input:focus {
  border-color: var(--focus-color);
}
.form__input:focus ~ .form__input--icon {
  fill: var(--focus-color);
}
.form__textarea {
  outline: none;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border-color var(--animation);
}
.form__textarea:focus {
  border-color: var(--focus-color);
}
.form__textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form__policy {
  line-height: calc(24 / 14);
  color: var(--additional-color);
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.form__checkbox--original {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  margin: 0 9px;
  transition: background-color var(--animation), border-color var(--animation);
}
.form__checkbox--original:checked ~ .form__checkbox {
  background-color: var(--focus-color);
  border-color: var(--focus-color);
}
.form__checkbox--icon {
  z-index: 3;
  width: 16px;
  height: 16px;
  fill: transparent;
  transition: fill var(--animation);
}
.form__checkbox--original:checked ~ .form__checkbox .form__checkbox--icon {
  fill: var(--bc-color);
}

.form__policy--link {
  margin-left: 7px;
  color: var(--focus-color);
  text-decoration: underline;
}
.form__btn {
  text-align: center;
  background-color: #188ce8;
  color: var(--bc-color);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;

  transition: background-color var(--animation), box-shadow var(--animation);
}
.form__btn:hover,
.form__btn:focus {
  background-color: var(--focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.header {
  border-bottom: #eeeeee 1px solid;
  display: flex;
}
.header__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #000;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: calc(26 / 14);
  font-family: 'Raleway', sans-serif;
  margin-right: 93px;
}
.logo__el--difcol {
  color: #188ce8;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-list__item {
}
.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  display: inline-block;
  padding: 32px 0px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-color);
  position: relative;

  transition: color var(--animation);
}
.nav-list__link:hover,
.nav-list__link:focus,
.nav-list__link.current {
  color: var(--focus-color);
}
.nav-list__link.current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--focus-color);
  border-radius: 4px;
  bottom: -1px;
  left: 0;
}

.contacts {
  display: flex;
}
.contacts__item {
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__link {
  display: inline-block;
  padding: 32px 0px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--additional-color);
  display: flex;
  transition: color var(--animation);
}
.contacts__icon {
  width: 16px;
  height: 16px;
  fill: var(--additional-color);
  margin-right: 10px;
  transition: fill var(--animation);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--focus-color);
}
.contacts__link:hover .contacts__icon {
  fill: var(--focus-color);
}

.banner {
  padding: 200px 0px;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/banner.jpg);
  background-position: center;
  display: flex;
  align-items: center;
}

.banner__title {
  width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  color: var(--bc-color);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.banner__but {
  background-color: #188ce8;
  color: var(--bc-color);
  min-width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--animation), box-shadow var(--animation);
}
.banner__but:hover,
.banner__but:focus {
  background-color: var(--focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.post {
  padding-top: 94px;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.post-list__item {
  flex-basis: calc((100% - 90px) / 4);
}

.post-list__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}
.post-list__icon {
  width: 70px;
  height: 70px;
}
.post-list__title {
  font-size: inherit;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.post-list__text {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--additional-color);
}
.gallery {
}

.gallery__title {
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery__item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}
.gallery__overlay {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  bottom: 0;
  width: 100%;
}
.gallery__text {
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--bc-color);
}

.gallery__img {
}
.staff {
  background: #f5f4fa;
}

.staff__title {
}

.users {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.user {
  flex-basis: calc((100% - 90px) / 4);
  background-color: var(--bc-color);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.user__img {
}
.user__desc {
  padding: 30px 0;
  text-align: center;
}
.user__title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);

  margin-bottom: 10px;
  letter-spacing: 0.03em;
}

.user__text {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--additional-color);
  margin-bottom: 16px;
}
.user__socials {
  display: flex;
  justify-content: center;
}
.user__soc:not(:last-child) {
  margin-right: 10px;
}
.user__soc--link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color var(--animation);
}

.user__soc--icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill var(--animation);
}
.user__soc--link:hover {
  background-color: var(--focus-color);
}
.user__soc--link:hover .user__soc--icon {
  fill: var(--bc-color);
}

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__item {
  height: 92px;
  flex-basis: calc((100% - 150px) / 6);
}
.clients__link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color var(--animation);
}
.clients__link:hover {
  border-color: var(--focus-color);
}
.client__icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  transition: fill var(--animation);
}
.clients__link:hover .client__icon {
  fill: var(--focus-color);
}

/*     portfolio.html   */
.portfolio {
}
.portf-but__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portf-but__item {
}
.portf-but__item:not(:last-child) {
  margin-right: 8px;
}
.portf-but__button {
  padding-left: 25px;
  padding-right: 25px;
  height: 38px;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
}
.portf-but__button:hover,
.portf-but__button:focus {
  background-color: var(--focus-color);
  color: var(--bc-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__item {
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow var(--animation);
}

.portfolio__box {
  position: relative;
  overflow: hidden;
}
.portfolio__img {
}
.portfolio__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 0 24px;
  transform: translatey(100%);
  transition: transform var(--animation);
}
.portfolio__item:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio__item:hover .portfolio__overlay {
  transform: translatey(0);
}
.portfolio__overlay--desc {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--bc-color);
}

.portfolio__desc {
  padding: 20px 24px;
  border: 1px solid;
  border-color: transparent #eeeeee #eeeeee #eeeeee;
}
.portfolio__title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio__subtitle {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--additional-color);
}

.footer {
  padding: 60px 0;
  background: #2f303a;
}

.footer__container {
  display: flex;
  align-items: flex-start;
}
.footer__mainlink {
  margin-right: 90px;
}

.footer__logo {
  color: var(--bc-color);
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: calc(30 / 26);
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  margin-bottom: 20px;
}

.footer__logo--difcol {
  color: #188ce8;
}

.footer-contacts {
}
.footer-contacts__item {
  margin-bottom: 9px;
}
.footer-contacts__item:first-child .footer-contacts__link {
  line-height: calc(24 / 14);
  font-style: normal;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--bc-color);
}
.footer-contacts__link {
  font-style: normal;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
  color: var(--focus-color);
}
.footer__sosials {
  padding-top: 9px;
  margin-right: 93px;
}
.footer__soc--link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__soc--icon {
  fill: var(--bc-color);
}

.footer__sosials--title {
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--bc-color);
  font-weight: 700;
}
.footer-form {
  padding-top: 9px;
}
.footer-form__title {
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--bc-color);
  font-weight: 700;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  padding-left: 16px;
  color: var(--bc-color);
  margin-right: 10px;
}
.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__btn {
}

.footer-form__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #188ce8;
  color: var(--bc-color);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;

  transition: background-color var(--animation), box-shadow var(--animation);
}
.footer-form__btn:hover,
.footer-form__btn:focus {
  background-color: var(--focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-form__btn--icon {
  width: 24px;
  height: 24px;
  fill: var(--bc-color);
  margin-left: 10px;
}
